
/*CSS FANS*/
.form {
    display: map-get($estilos,display);
    justify-content: map-get($estilos, justify-content );
    width:500px;
	padding:20px;
	border-radius:10px;
    border-color: azure;
	margin:auto;
	background-color:#530477;
    color: $colore;
    text-align: map-get($estilos, text-align);
}
.now {
  color: $backgroundcolor;

&:hover {
    color: $colore;
	background-color: $backgroundcolor;
    cursor: grab;
}
}
a:link{ 
    font-weight:bold;
    color: darkslateblue;
}
