
/* :::::CSS HISTORIA::::: */

// .cabecera{
    
//     height: 100vh;
    
//     object-fit:fill;
// }
.row {
 display: flex;
 justify-content: baseline;
}


.realogo {
    width: 130px;
    justify-content: center;
    align-items: center;
}

.estadi{
    display:flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    align-items: center;
}
.textogalera {
    color: black;
    font-weight: 500;
    }