
/* :::::CSS HISTORIA::::: */

.row {
 display: flex;
 justify-content: baseline;
}


.realogo {
    width: 130px;
    justify-content: $align-items;
    align-items: $text-align;
}

.estadi{
    display:flex;
    flex-wrap: wrap;
    justify-content: $align-items;
    align-items: $text-align;
}

.estadi{ 
    @extend .estadi; width: 50%;
}
.textogalera {
    color: black;
    font-weight: 500;
    }