$estilos: (
    display: flex,
    flex-direction: row,
    justify-content: center,
    text-align: center, 
    border-color: azure,
); 

$colores: (
    color-fondo:rgb(7, 2, 65),
    color-texto: beige, 
    fuente-texto:sans-serif,
    aling-texto: center, 
)
