$backgroundcolor: rgb(7, 2, 65);
$font-family: 'Oswald', sans-serif;
$colore: rgb(255, 255, 255);
$padin: 20px;
$align-items: center;
$background-size:cover;
$gaps: 20px; 
$font-weight: bold;
$width: 50%; 
$text-align: center; 